export DATABASE_URL=postgres://postgres:password@localhost:5432/newsletter
export POSTGRES_USER=postgres
export POSTGRES_DB=newsletter
export POSTGRES_PASSWORD=password
export PGPASSWORD=password
export POSTGRES_PORT=5432